.home_container {
    margin-top: 0.5rem
}


.home_flex {
    justify-content: space-between;
    margin: 5rem auto;
    display: flex;
    width: 80%;
}

.home_flex > div {
    width: 40%
}

.home_mark {
    margin-top: 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60%;
    width: 95%;
    gap:1rem;
}

.home_mark::-webkit-scrollbar {
    width: 20px;
}

.home_mark::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--sidebar-color-text); 
}

.home_mark::-webkit-scrollbar-thumb:hover {
    background: var(--home-color-hover); 
    cursor: pointer;
}

.home_link {
    margin-top: 1rem;
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 3rem;
}

.home_link * {
    border: 2px solid var(--sidebar-color-text);
    background-color: var(--sidebar-color-text);
    color: var(--home-color-text-hover);
    justify-content:center;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    height: 120px;
    display: flex;
    width: 100%;
}

.home_link *:is(:hover, :focus-visible) {
    background-color: transparent;
    color: var(--home-color-text);
}